@page
@model CursProper.Pages.LitReferences.DeleteAuthorRefModel
@{
}
<h1>Удаление</h1>
<h3>Вы уверены?</h3>
<form method="post">
    <input type="submit" value="Удалить" class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@Model.Id" asp-route-db_id="@Model.Db_id" />
    <a asp-page="./Details" asp-route-id="@Model.Db_id">Назад</a>
</form>